@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--font-poppins);
}

/* variables */
:root {
  --font-poppins: "Poppins", sans-serif;
  --bg-primary: #e02c6d;
  --color-primary: #3a3a3a;
  --color-secondary: #787885;
  --color-sub-secondary: #6c6c6c;
  --dark-gray: #18191f;
}
/* shared styles */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.section-description {
  color: var(--color-sub-secondary);
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
}
.primary-button {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background: var(--bg-primary);
  padding: 10px 24px;
  border-radius: 2.5rem;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.primary-button:hover {
  color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  background: transparent;
}
/* nav & hero section */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.brand-logo {
  color: var(--color-primary);
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-links .link-item {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
}
.fa-solid {
  font-size: 1.5rem;
}
/* hero */
#hero {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-content > .section-description,
.primary-button {
  margin-top: 2rem;
}
.hero-content > .section-description {
  color: var(--color-primary);
}
.hero-content > .primary-button {
  display: inline-flex;
  align-content: center;
  gap: 1rem;
}
.hero-title {
  color: var(--color-primary);
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4rem;
}
.hero-content,
.hero-img {
  flex: 1;
}
.hero-img {
  text-align: right;
  background-image: url(./images/circle-bg1.png);
  background-position: right center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding-top: 6rem;
}
.hero-img img {
  max-width: 80%;
  position: relative;
  top: -50px;
  right: 50px;
}
/* sponsors */
.sponsors {
  margin-top: 120px;
}
.sponsors-content {
  display: grid;
  grid-template-columns: repeat(7, 90px);
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  margin: 0 45px;
  border-top: 1px solid #78788542;
  border-bottom: 1px solid #78788542;
  border-image: radial-gradient(
    circle,
    rgba(120, 120, 133, 0.23) 78%,
    rgba(120, 120, 133, 0.12) 50%,
    rgba(120, 120, 133, 0) 100%
  );
  border-image-slice: 1;
}
.sponsor-item img {
  width: 100%;
}
/* products */
.product-content {
  margin-top: 120px;
}
.product-heading {
  color: var(--dark-gray);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.product-item img {
  width: 100%;
}
.product-items {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}
/* product item styling */
.product-item {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;
}
.product-title {
  color: var(--dark-gray);
  font-size: 28px;
  font-weight: 500;
  margin: 0.5rem 0;
  text-transform: capitalize;
}
.product-price {
  color: var(--dark-gray);
  font-size: 24px;
  font-weight: 400;
  margin: 0.5rem 0;
}
.product-rating .rating-icons .fa-solid {
  font-size: 12px;
  color: var(--bg-primary);
}
.rating-text {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 600;
  margin-left: 0.5rem;
}

.product-description-detail {
  display: block;
  color: var(--color-sub-secondary);
  font-size: 14px;
  font-weight: 600;
}
.bottom-ellipse {
  margin-top: 2rem;
  margin-right: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  color: #e02c6d;
  font-size: 1rem;
  font-weight: 600;
  text-overflow: ellipsis;
  cursor: pointer;
}
/* featured product */
.featured-product {
  margin-top: 8rem;
}
.featured-product-content {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.featured-product-content img {
  width: 100%;
}
.featured-product-detail .product-heading {
  font-size: 36px;
  text-align: left;
}
.featured-product-detail .section-description {
  margin-top: 1.5rem;
  width: 90%;
}
.featured-product-detail > .primary-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
/* footer */
footer {
  margin-top: 6rem;
  padding: 50px;
  background-color: #0a0826;
}
.footer-content {
  color: #fff;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}
.footer-heading {
  font-size: 32px;
  font-weight: bold;
}
.footer-content p {
  margin-top: 0.5rem;
  font-size: 16px;
  font-weight: 500;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.footer-icons .icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  background: #22213c;
  border-radius: 50%;
}

/* mobile responsive */
@media screen and (max-width: 576px) {
  .nav-content {
    flex-direction: column;
  }
  .nav-links {
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }
  #hero {
    flex-direction: column-reverse;
  }
  .hero-img {
    background-image: url(./images/circle-bg2.png);
    text-align: center;
    background-position: center;
    background-size: cover;
  }
  .hero-img img {
    position: relative;
    right: 0;
  }
  .hero-content {
    text-align: center;
  }
  .hero-title {
    font-size: 28px;
    line-height: 42px;
  }
  .hero-content > .section-description {
    font-size: 14px;
  }
  /* sponsor */
  .sponsors-content {
    margin: 0;
    padding: 0;
    border: none;
    grid-template-columns: repeat(4, 50px);
    gap: 20px;
    justify-content: space-between;
  }
  /* products */
  .product-items {
    grid-template-columns: 1fr;
  }
  .product-item {
    display: none;
  }
  .product-1,
  .product-2,
  .product-3 {
    display: block;
  }
  .product-heading {
    font-size: 1.3rem;
    font-weight: 600;
  }
  .product-content {
    margin-top: 4rem;
  }
  .product-items {
    margin-top: 2.5rem;
  }
  .bottom-ellipse {
    font-size: 14px;
    margin-right: 0;
    margin-top: 1rem;
  }
  /* featured product */
  .featured-product-content {
    flex-direction: column;
    gap: 1rem;
  }
  .featured-product-detail .product-heading {
    font-size: 26px;
    text-align: left;
  }
  .featured-product-detail .section-description {
    margin-top: 0.5rem;
    width: 100%;
  }
  /* footer */
  .footer-heading{
    font-size: 24px;
  }
}
