@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--font-poppins);
}

/* variables */
:root {
  --font-poppins: "Poppins", sans-serif;
  --bg-primary: #e02c6d;
  --color-primary: #3a3a3a;
  --color-secondary: #787885;
  --color-sub-secondary: #6c6c6c;
  --dark-gray: #18191f;
}
/* shared styles */
.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
.section-description {
  color: var(--color-sub-secondary);
  font-family: var(--font-poppins);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
}
.primary-button {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  background: var(--bg-primary);
  padding: 10px 24px;
  border-radius: 2.5rem;
  border: 1px solid transparent;
  transition: all 0.5s;
}
.primary-button:hover {
  color: var(--bg-primary);
  border: 1px solid var(--bg-primary);
  background: transparent;
}
/* nav & hero section */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}
.brand-logo {
  color: var(--color-primary);
  font-family: var(--font-poppins);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-links .link-item {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
}
.fa-solid {
  font-size: 1.5rem;
}
/* hero */
#hero {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-content > .section-description,
.primary-button {
  margin-top: 2rem;
}
.hero-content > .section-description {
  color: var(--color-primary);
}
.hero-content > .primary-button {
  display: inline-flex;
  align-content: center;
  gap: 1rem;
}
.hero-title {
  color: var(--color-primary);
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 4rem;
}
.hero-content,
.hero-img {
  flex: 1;
}
.hero-img {
  text-align: right;
  background-image: url(./images/circle-bg1.png);
  background-position: right center;
  background-repeat: no-repeat;
  object-fit: cover;
  padding-top: 6rem;
}
.hero-img img {
  max-width: 80%;
  position: relative;
  top: -50px;
  right: 50px;
}
/* mobile responsive */
@media screen and (max-width: 576px) {
  .nav-content {
    flex-direction: column;
  }
  .nav-links {
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }
  #hero {
    flex-direction: column-reverse;
  }
  .hero-img {
    background-image: url(./images/circle-bg2.png);
    text-align: center;
    background-position: center;
    background-size: cover;
  }
  .hero-img img {
    position: relative;
    right: 0;
  }
  .hero-content {
    text-align: center;
  }
  .hero-title {
    font-size: 28px;
    line-height: 42px;
  }
  .hero-content > .section-description {
    font-size: 14px;
  }
}


